@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = _["Welcome"];
}
@inject IViewLocalizer _
<div class="text-center">
    <h1 class="display-4">@_["Welcome"]</h1>
    <p>@ViewData["Message"]</p>
</div>
